*{
    margin:auto;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#756c6c;
    color:#ffffff;
    line-height:1.6;
}

/* Navigation */
nav{
     background:linear-gradient(rgb(40, 46, 46),rgb(27, 24, 24),rgb(41, 30, 30),rgb(27, 21, 21));
    color:rgb(49, 164, 168);
    display:flex;
    justify-content:space-between;
    padding: 10px;
    top:0;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:rgb(50, 160, 187);
    text-decoration:none;
    font-weight:bold;
}
nav ul li a:hover{
    color:#d89a28;
}

/* Hero */
.hero{
    height:90vh;
    background:linear-gradient(
rgb(66, 62, 62), 
rgba(0, 0, 0, 0.5), 
rgba(0, 0, 0, 0.5),
rgba(0, 0, 0, 0.5),
rgba(107, 106, 106, 0.5)
    ),
    url("image/PROFILE1.png");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
    color:white;
}

.hero h1{
    font-size:55px;
    color:rgb(50, 160, 187);
}
.hero h1:hover{
    color:#ffffff;
}
.hero h2{
    margin:10px 0;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#201f1f;
    color:rgb(163, 132, 30);
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
}
.btn:hover{
    background:#ffffff;
    color:rgb(50, 160, 187);
}

/* Sections */
section{
    padding:70px 10%;
}

section h2{
    text-align:center;
    margin-bottom:40px;
    color:rgb(46, 181, 214);
}

section h2:hover{
    color:#ffffff;
    background: #201f1f;
}
/* Skills Button */
.skills-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
}

.skills-container .card:hover{
    transform:scale(1.05);
    transition:0.3s;
    color:rgb(163, 132, 30);
    background:#201f1f;
}

.card{
    background:#201f1f;
    padding:20px;
    text-align:center;
    border-radius:15px;
    box-shadow:0 0 15px rgb(3, 3, 3);
}

/* Projects */
.projects-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.project-card{
    background:#201f1f;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 15px rgb(0, 0, 0);
    color: rgb(253, 252, 252);
    text-align: center;

}
.project-card H3{
    color: rgb(8, 134, 8)
    ;
}
.project-card:hover{
    transform:scale(1.05);
    transition:0.3s;
}

/* Education */
.education-box{
    background:#201f1f;
    padding:20px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 0 20px #000000;
}

/* Contact Button */
form{
    max-width:600px;
    margin:auto;
}

form input,
form textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #000000;
    border-radius:5px;
}

button{
    width:100%;
    padding:12px;
    background:#201f1f;
    color:rgb(255, 255, 255);
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#201f1f;
    color: rgb(46, 181, 214);
}

/* Footer */
footer{
    background:#201f1f;
    color:rgb(250, 250, 250);
    text-align:center;
    padding:20px;
}

/* Mobile */
@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    nav ul{
        flex-direction:column;
        text-align:center;
    }

    nav ul li{
        margin:10px 0;
    }

    .hero h1{
        font-size:40px;
    }
}

/* Map Button */
.map-btn{
    display:inline-block;
    padding:12px 25px;
    background:#201f1f;
    color:white;
    text-decoration:none;
    border-radius:8px;
    margin-top:15px;
}



/* Education Section */

body  {
    background-image: url("image/images2.webp.");
    
    animation:alternate-reverse 20s infinite slideBackground;
     background-size: cover;
     background-position: center;
}
.education {
height: 100vh;
    margin: auto;
    width: 100%;
    background-image: url("image/images2.webp");
     animation:alternate-reverse 20s infinite slideBackground;
    font: 1.2rem;
    max-width: 1200px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: #ffffff;
    font-weight: bolder;
}

/*section*/
section {
     margin: auto;
     width: 100%;
}
/* Education Heading */

.education h1 {
    text-align: center;
    margin-bottom: 40px;
    color: rgb(8, 134, 8);
    font: 2.5rem;
} 

.education h1:hover {
    color: #ffffff;
    background: #272222;
}



.education-card ul {
    padding-left: 20px;
}

.education-card {
    margin:auto;
    height: auto;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}
@keyframes 
slideBackground {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}




/* Contact Section */

.contact-section {
    height: 100vh;
    margin: auto;
    width: 100%;
    font: 1.2rem;
    max-width: 1200px;
    background-image: url("image/photo.avif");
    background-size: cover;
    background-position: center;
    animation:alternate-reverse 20s infinite slideBackground;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(46, 181, 214);
    font-weight: bolder;
}
.contact-section h1 {
    text-align: center;
    margin-bottom: 40px;
    color: rgb(8, 134, 8);
    font: 2.5rem;
}
.contact-section h1:hover {
    color: #ffffff;
    background: #272222;
}
.contact-section H3 {
    color: rgb(8, 134, 8);
    font: 1.5rem;
}


.social-whatsapp a {
    width:50px;
    height:50px;
    background:#26f10b;
    color:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    text-decoration:none;
    font-size:22px;

    transition:0.3s;
}

.social-whatsapp a:hover{
    transform:translateY(-5px);
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.social-facebook a {
    width:50px;
    height:50px;
    background:#1e13be;
    color:rgb(255, 255, 255);
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius:50%;
    text-decoration:none;
    font-size:22px;

    transition:0.3s;
}

.social-facebook a:hover{
    transform:translateY(-5px);
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.social-instagram a {
    width:50px;
    height:50px;
    background:#ffffff;
    color:linear-gradient(to right, #ff0000, #e969d4, #f046af, #dfd158);
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    text-decoration:none;
    font-size:22px;

    transition:0.3s;
}

.social-instagram a:hover{
    transform:translateY(-5px);
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.social-email a {
    width:50px;
    height:50px;
    background:#7f7bb3;
    color:rgb(255, 255, 255);
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    text-decoration:none;
    font-size:22px;

    transition:0.3s;
}

.social-email a:hover{
    transform:translateY(-5px);
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}



.whatsapp-btn{
    position:fixed;
    bottom:30px;
    right:30px;
    width:90px;
    height:90px;
    background:#18ca59;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:16px;
    text-align: center;
    text-decoration:none;
    box-shadow:0 4px 12px rgba(0,0,0,0.3);
    z-index:1000;
    transition:0.3s;
}

.whatsapp-btn:hover{
    transform:scale(2.1);
}
.whatsapp-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

@keyframes slideBackground {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}


/*projectcs*/
.projects {
    background: none;
    font-weight: bold;
    max-width: 100%;
    height: auto;
    background-image: url("image/images (4).jpeg");
    animation:changeBackground 15s infinite ease-in-out;

}

@keyframes changeBackground {
    0% { background-image: url("image/images (4).jpeg");}
    33% {background-image: url("image/images2.webp"); } 
    66% {background-image: url("image/images3.webp");}
    100% {background-image: url("image/images1.jpg");}
}